.footer {
    color: #fff;
}

.footer-logo {
}

.divider {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-footer .nav-link {
    color: #fff !important;
    transition: color 0.15s ease-in-out;
}

.nav-footer .nav-link:hover {
    color: #e9ecef !important;
}

h5 {
    margin-bottom: 1rem;
}