.leaf-shape{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 10%;
}
.leaf-shape-left{
    border-top-left-radius: 50%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.leaf-like-rounded{
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.listen-to-mawasim{
    
}

.custom-slider-item {
  display: flex !important;
  justify-content: center;
}

.custom-slider-item img {
  max-width: 100%;
  height: auto;
}
